* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    cursor: pointer;
}

.input, .button {
    outline: none;
    border: none;
    font-size: 16px;
}

.search-bar {
    display: flex;
    justify-content: right;
    background-color: rgb(213, 212, 246);
    padding: 8px;
}

.search-bar > .button {
    background-color: #d4c6ab;
    min-width: 120px;
}

.search-bar > .input {
    background-color: #edebe6;
}

.search-bar > :is(.input, .button) {
    padding: 8px 10px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    gap: 6px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 6px;
    border: 1px solid rgb(107, 107, 107);
}

.card > .card-content {
    font-size: 20px;
}
